@use "sass:math"
@import "common/variables.sass"
@import "common/extends.sass"
@import "common/top.sass"
@import "common/camera.sass"
@import "common/bar.sass"
@import "common/graph1.sass"
@import "common/graph2.sass"


body, html
    width: 100%
    background-color: $Background_Color
    margin: 0

#Middle
    display: flex
    flex-direction: row
    justify-content: space-between
    padding-top: 150px
    padding-left: 7vw
    padding-right: 7vw 
    @media (max-width: $max-width)
        padding-left: 4vw
        padding-right: 4vw 
        padding-top: 80px

    .Left
        display: flex
        flex-direction: column

        .Info
            display: flex
            justify-content: space-around
            height: 150px
            padding-top: 0px
            // @media (max-width: $max-width)
            //     padding-top: 0px

            .Bar_Container
                display: flex
                flex-direction: column
                justify-content: center
                font-size: 25px
                color: white
                margin-top: 0px

            .Action_Buttons
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                width: 10vw
                color: white
                @media (max-width: $max_width)
                    width: 12vw

                #Speed_Factor
                    width: 100%
                    margin-top: 17px

                    input[type=range] 
                        -webkit-appearance: none
                        width: 100%
                        background-color: transparent
                        margin: 0 0

                    input[type=range]::-webkit-slider-runnable-track 
                        width: 100%
                        height: 12px
                        background: $First_Color
                        cursor: pointer
                        border-radius: 25px

                    input[type=range]::-webkit-slider-thumb 
                        height: 20px
                        width: 20px
                        background: white
                        margin-top: -3.6px
                        border-radius: 15px
                        cursor: pointer
                        -webkit-appearance: none

                .Go_Record_Container
                    display: flex
                    justify-content: space-around
                    align-items: center
                    width: 100%
                    height: 60px
                    margin-top: 10px

                    #Go
                        display: flex
                        justify-content: center
                        align-items: center
                        height: 40px
                        width: 65px
                        background-color: #00000000
                        font-size: 25px
                        color: white
                        margin: 2px
                        border-style: solid
                        border-width: 3px
                        border-color: white
                        border-radius: $Fillet
                        @media (max-width: $max-width)
                            height: 35px
                            width: 40px
                            font-size: 20px
                    
                    #Record_Timer
                        display: flex
                        justify-content: center
                        align-items: center
                        height: 3vh
                        width: 2vw
                        // background-color: white
                        font-size: 1.3vw
                        color: white
                        visibility: hidden

                    .Record_Border
                        display: flex
                        justify-content: center
                        align-items: center
                        height: 1.5vw
                        width: 1.5vw
                        border-color: white
                        border-style: solid
                        border-width: 5px
                        border-radius: 40px
                        @media (max-width: $max-width)
                            height: 2vw
                            width: 2vw

                        #Record
                            height: 70%
                            width: 70%
                            background-color: red
                            border-color: black
                            border-style: solid
                            border-radius: 100px
                            border-width: 4px
                            padding: 1px
                            @media (max-width: $max-width)
                                height: 70%
                                width: 70%
                                padding: 1px
                                border-radius: 100px
                                border-width: 3px
    .Right
        display: flex
        flex-direction: column
        align-items: flex-end

        .Graph_Container
            display: flex
            flex-direction: column
            position: relative
            justify-content: space-between
            width: 35vw
            height: 35vh
            @media (max-width: $max_width)
                width: 43vw
                height: 48vh
                margin-bottom: 10px

        .Drive_Mode_Change
            display: flex
            flex-wrap: wrap
            justify-content: space-around
            align-items: center
            height: 150px
            width: 35vw
            padding-top: 28px
            @media (max-width: $max_width)
                width: 40vw
            @media (max-width: 2300px)
                height: 100px
            .Pilot, .Route
                display: flex
                justify-content: center
                margin: 1px

            #Pilot_Full_Auto, #Pilot_Angle, #Pilot_Manuel
                @extend %Buttons
            
            #Route_Route, #Route_Random, #Route_Manuel
                @extend %Buttons

#Seperator_Line_Container
    display: none
    justify-content: center
    align-items: center
    @media (max-width: $max-width)
        display: none
#Seperator_Line
    height: 1px
    width: 80%
    background-color: white
