<div id="Graph2">
    <div id="Graph2_Mode_Select">Mode
        <div id="G2_Menu">
            <button id="G2_Steering" class="Graph_Select_Button">Steering</button>
            <button id="G2_Act_Value" class="Graph_Select_Button">Act_Val</button>
            <button id="G2_Throttle" class="Graph_Select_Button">Throttle</button>
            <div id="G2_IMU_Mode_Select" class="Graph_Select_Button">Other
                <div id="G2_IMU_Menu">
                    <button id="G2_IMU_Accel_X" class="IMU_Select_Button">Accel X</button>
                    <button id="G2_IMU_Accel_Y" class="IMU_Select_Button">Accel Y</button>
                    <button id="G2_IMU_Accel_Z" class="IMU_Select_Button">Accel Z</button>
                    <button id="G2_IMU_Gyro_X" class="IMU_Select_Button">Gyro X</button>
                    <button id="G2_IMU_Gyro_Y" class="IMU_Select_Button">Gyro Y</button>
                    <button id="G2_IMU_Gyro_Z" class="IMU_Select_Button">Gyro Z</button>
                    <button id="G2_Speed" class="IMU_Select_Button">Speed</button>
                </div>
            </div>
        </div>
    </div>
</div>