<dir id="Logo">E2E Driver</dir>
<dir id="Indicators">
    <div class="Sign_Container">
        <div id="Stop">Stop</div>
        <div id="Taxi">Taxi</div>
    </div>
    <div id="Arrow_Container">
        <div id="Left_Arrow"><div id="Left_Arrow_Stick"></div></div>
        <div id="Forward_Arrow"><div id="Forward_Arrow_Stick"></div></div>
        <div id="Right_Arrow"><div id="Right_Arrow_Stick"></div></div>
    </div>
    <div id="Stop_Timer">60</div>
    <div class="Lane_Container">
        <div class="Lane"></div>
        <div id="Left_Lane" class="Lane_Indicator"></div>
        <div class="Lane"></div>
        <div id="Right_Lane" class="Lane_Indicator"></div>
        <div class="Lane"></div>
    </div>
</dir>

<button id="Emergency_Button">Emergency Stop</button>