<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href= "/static/styles/data_cleaner_main.css" rel="stylesheet"></link>
        <meta name="description" content="Autonomous Car Data Cleaner">
        <title>E2E Driver Cleaner</title>
    </head>

    <body>
        {% include 'common/top.html' %}
        <section id="Middle">
            <div class="Left">
                {% include 'common/camera.html' %}
            </div>
            <div class="Right">
                <div class="Graph_Container">                       
                    {% include 'common/graph1.html' %}
                <div class="Info">
                    <div id="Data_Folder"></div>
                    <div id="Display_Changes"></div>
                    {% include 'common/bar.html' %}
                    <div id="Data_Index">0</div>
                </div>
            </div>
        </section>

        <section id="Bottom">
            <div id="Progress_Bar">
                <div id="Left_Marker"></div>
                <div id="Right_Marker"></div>
                <div id="Bar_Data_Index"></div>
            </div>
            <div id="Edit">
                <input type="search" id="Search_Box" placeholder="Search">
                <section id="edit_bottom_left">
                    <button id="Mark_Left_Button">Left</button>
                    <button id="Mark_Right_Button">Right</button>
                </section>
                <section id="edit_bottom_right">
                    <button id="Unselect_Button">Unselect</button>
                    <button id="Delete_Button">Delete</button>
                </section>
                <button id="Save_Button">Save</button>
                <button id="Apply_Button">Apply</button>
            </div>
        </section>

        <script src="/static/script/plotly.min.js"></script>
        <script src="/static/script/track.js"></script>
        <script src="/static/script/data_cleaner_track.js"></script>
        <script src="/static/script/data_cleaner_main.js"></script>
        <script>
            load_parameters(JSON.parse('{{outputs|tojson}}'))
        </script>
    </body>
</html>