<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href= "/static/styles/main.css" rel="stylesheet"></link>
        <meta name="description" content="Autonomous Car Interface">
        <title>E2E Driver</title>
    </head>

    <body>
        <section id="Top">
            {% include 'common/top.html' %}
        </section>

        <section id="Middle">
            <div class="Left">
                <div id="Camera_Brodcast">
                    {% include 'common/camera.html' %}
                </div>
                <div class="Info">
                    <div class="Bar_Container">
                        {% include 'common/bar.html' %}
                    </div>
                    <div class="Action_Buttons">
                        <div id="Speed_Factor">
                                <input title="1" id="Speed_Slider" type="range" min="1" max="100" value="50">
                        </div>
                        <div class="Go_Record_Container">
                            <button id="Go">GO</button>
                            <div id="Record_Timer"></div>
                            <div class="Record_Border"> <button id="Record"></button> </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="Right">                    
                <div class="Graph_Container">
                    <div id="Graph1">                          
                        {% include 'common/graph1.html' %}
                    </div>
                    <div id="Graph2">
                        <div id="Graph2_Mode_Select">Mode
                            <div id="G2_Menu">
                                <button id="G2_Steering" class="Graph_Select_Button">Steering</button>
                                <button id="G2_Throttle" class="Graph_Select_Button">Throttle</button>
                                <button id="G2_Speed" class="Graph_Select_Button">Speed</button>
                                <div id="G2_IMU_Mode_Select" class="Graph_Select_Button">IMU
                                    <div id="G2_IMU_Menu">
                                        <button id="G2_IMU_Accel_X" class="IMU_Select_Button">Accel X</button>
                                        <button id="G2_IMU_Accel_Y" class="IMU_Select_Button">Accel Y</button>
                                        <button id="G2_IMU_Accel_Z" class="IMU_Select_Button">Accel Z</button>
                                        <button id="G2_IMU_Gyro_X" class="IMU_Select_Button">Gyro X</button>
                                        <button id="G2_IMU_Gyro_Y" class="IMU_Select_Button">Gyro Y</button>
                                        <button id="G2_IMU_Gyro_Z" class="IMU_Select_Button">Gyro Z</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Drive_Mode_Change">
                    <div class="Pilot">
                        <button id="Pilot_Full_Auto">Full Auto</button>
                        <button id="Pilot_Angle">Angle</button>
                        <button id="Pilot_Manuel">Manuel</button>
                    </div>
                    <div class="Route">
                        <button id="Route_Route" class="Route_Button">Route</button>
                        <button id="Route_Random" class="Route_Button">Random</button>
                        <button id="Route_Manuel" class="Route_Button">Manuel</button>
                    </div>
                </div>
            </div>

        </section>

        <div id="Seperator_Line_Container"><div id=Seperator_Line></div></div>                

        <section id="Bottom">

        </section>
        <script src="/static/script/track.js"></script>
        <script src="/static/script/plotly.min.js"></script>
        <script src="/static/script/main.js"></script>
        <script>
            var outputs = JSON.parse('{{outputs|tojson}}');
            load_parameters(outputs)
        </script>
    </body>
</html>